/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/lib/
.cpcache/
/.clj-kondo/
/.cider-repl-history
/.idea/
/.lsp/
*.iml
/src/tic_tac_to/.cider-repl-history
/test/tic_tac_to/.cider-repl-history
